.login{
    background-color: #e3e3e3;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container-login{
    width: 600px;
    height: 650px;
    border-radius: 10px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 black;
}
.container-login img{
    width: 50px;
}
form{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 20px;
}
form label{
    font-size: 20px;
    font-weight: 600;
}
form input{
    width: 400px;
    min-height: 60px;
    background-color: #e3e3e3;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 0 0 0 30px;
}
form input:focus{
    outline: none;
}
form input::placeholder{
    font-size: 20px; 
    background-color: #e3e3e3; 
    height: 50px;
    padding: 0 0 0 20px;   
}
.container-login{
    height: 610px;
}

.ImgAndTitle{
    padding-top: 50px;
    margin-bottom: 30px;
}

.input-form{
    border: 0;
    height: 250px;
}
.login-input{
    gap: 10px;
}

.input-form input{
    width: 300px;
    height: 50px;
    border: 1px solid;
    border-radius: 8px;
    padding-left: 10px;
    color: #4F4F4F;
    font-weight: 400;
    opacity: 0.7;
}

#label-text{
    padding-right: 150px;
    font-weight: bolder;
}

#label-password{
    padding-right: 225px;
    font-weight: bolder;
    margin-top: 15px;
}

button{
    margin-top: 20px;
    width: 250px;
    height: 50px;
    background-color: #1f3d5e;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.2);
}

    .btn-animado::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 300%;
        height: 300%;
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 50%;
        transition: transform 0.6s ease;
    }

    .btn-animado:hover::before {
        transform: translate(-50%, -50%) scale(1);
    }

    .btn-animado:hover {
        background-color: #4F4F4F;
        box-shadow: 0 12px 20px rgba(0, 123, 255, 0.3);
        transform: translateY(-2px);
    }

    .btn-animado:active {
        transform: translateY(2px);
        box-shadow: 0 5px 10px rgba(0, 123, 255, 0.2);
    }
