.presentation-text{
    margin: 100px 0;
    padding-right:270px ;
    gap:30px;
}
.arrow-img{
    width: 10px;
    padding-top: 25px;
}
.img-fluid{
    width: 280px;
    margin: 100px 0;
}
.btn-arrow{
    gap:20px;
}
.text-p{
    font-size: 15px;
    color:#4F4F4F;
}
.btn-presentation{
    width: 500px;
}
.comofunciona{
        color:#4F4F4F;
        font-size: 20px;
        font-weight: 600;
        padding-top: 25px;
}
.comofunciona:hover{
    transition: 0.7s;
    font-size: 22px;
}