.btn{
    width: 180px;
    height: 70px;
    border-radius: 10px;
    border: none;
    background-color: #2A3D45;
    color: #F5F5F5 ;
    font-weight: 800;
    font-size:12px;
    cursor: pointer;
}

.btn:hover{
    cursor: pointer;
    transition: 0.9s;
    background-color: #2e505f;
    width: 420px;
}
