.btn{
    width: 150px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: #4F4F4F;
    color: #F5F5F5 ;
    font-weight: 800;
    font-size:18px;
    cursor: pointer;
}
