.container-nav{
    position: relative;
    width: 100%;
}
.nav{
    margin: 0 50px;
}
.nav-logo img{
    width: 60px;
}
.nav-menu ul{
    display: flex;
    flex-direction: row;
    gap: 150px;
    font-size: 20px;
    list-style: none;
    padding: 20px 20px;
    text-decoration: none;
}
@media (max-width: 768px){
    .container{
      width: 90%;
    }
    .nav-menu ul{
        flex-direction: column;
        gap: 5px;
    }
    .mobile-fd-column{
      flex-direction: column;
    }
  }