.footer{
    height: 200px;
    place-items: center center;
    padding: 100px 0px;
    width: 100%;
    gap: 15px;
}
.footer-img-txt{
    align-items: center;
    gap:15px;
}
.footer-img-txt h2{
    font-size: 20px;
}
.footer h3{
    font-size: 15px;
}
.footer p{
    color: #F5F5F5;
    font-size: 15PX;
    line-height: 30px;
}
.footer img{
    width: 50px;
}
.instagram{
    background-image: url(${instagram.svg});
}
.footer-rede{
    gap: 15px;
}
.footer-redes-img img{
    width: 30px;
    margin-right: 40px;
}
@media (max-width: 768px){
    .container{
      width: 90%;
    }
    .footer{
        flex-direction: column;
        gap: 5px;
        height: 700px;
        padding: 30px;
        text-align: center;
        font-size: 20px;
    }
    .footer-redes img{
        width: 50px;
        margin-left: 30px;
    }
    .mobile-fd-column{
      flex-direction: column;
    }
  }